{{ define "main" }}
  <section class="section">
    <div class="container">
      {{ partial "page-header" . }}


      <!-- <div
        class="size-full 2xl:min-h-[800px] py-20 border-b border-border dark:border-darkmode-border">
        {{ partial "image" (dict "Src" .Params.banner_image "Alt" "banner image" "Class" "w-full object-cover]") }}
      </div> -->
      
      {{ partial "components/events-card.html" (dict "List" .RegularPages "Image" .Params.image) }}

    </div>
  </section>
  {{ partial "call-to-action.html" }}
{{ end }}
