{{ define "main" }}
  <section class="section">
    <div class="container">
      {{ partial "page-header" . }}
      <div
        class="row gx-5 mt-20 border-b border-border dark:border-darkmode-border pb-10">
        {{ $paginator:= .Paginate .RegularPages }}
        {{ range $paginator.Pages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
