<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<script src="https://js.stripe.com/basil/stripe.js"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;cursor:pointer"
  id="checkout-button-price_1RibzZH5BRP1wdS7Gv9ZitGn"
  role="link"
  type="button"
>
  Checkout
</button>

<div id="error-message"></div>



  <section>
    <div class="product">
      <img src="/images/placeholder.jpg" alt="The cover of Stubborn Attachments" />
      <div class="description">
        <h3>Stubborn Attachments</h3>
        <h5>$20.00</h5>
      </div>
    </div>
    <form action="/create-checkout-session" method="POST">
      <button type="submit" id="checkout-button">Checkout</button>
    </form>
  </section>


<script>
(function() {
  var stripe = Stripe('pk_test_51Rbp2lH5BRP1wdS77lPEOAmXB592nf70VsEertD6bWx8BaGmGlIP5NmoQoaRWsmqfvuQdapUIW6zoOTqJyBdLeL000zvvqLCpA');

  var checkoutButton = document.getElementById('checkout-button-price_1RibzZH5BRP1wdS7Gv9ZitGn');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1RibzZH5BRP1wdS7Gv9ZitGn', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://docs.stripe.com/payments/checkout/fulfill-orders
       */
      successUrl: '/donations/orders/order-successful/',
      cancelUrl: '/donations/orders/order-cancelled/',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>