<footer>
  <div class="container border-t border-t-border dark:border-darkmode-border ">
    <div class="row py-16 gap-y-10">
      {{/* about company */}}
      <div
        class="xl:col-4 xl:border-r xl:border-r-border dark:border-darkmode-border xl:pr-32 mb-10 xl:mb-0">
        <!-- navbar brand/logo -->
        <a
          class="mb-5 lg:mb-9 flex items-center gap-x-2"
          href="{{ site.Home.RelPermalink }}">
          <svg 
            class="animate-logo-icon" 
            width="30"
            height="30"
            viewBox="0 10 500 670" 
            xmlns="http://www.w3.org/2000/svg">

            <path d="M 249.603 101.652 L 499.605 453.484 L -0.399 453.484 L 249.603 101.652 Z" bx:shape="triangle -0.399 101.652 500.004 351.832 0.5 0 1@139074ee" 
              class="fill-primary dark:fill-darkmode-primary"></path>
            <rect x="152.632" y="377.835" width="193.942" height="202.205" 
              class="fill-primary dark:fill-darkmode-primary"></rect>
          </svg>
          Team Up For STEM
          <!-- {{ partial "logo" }} -->
        </a>
        <p class="mb-8 lg:mb-14 dark:text-text-light text-lg leading-7">
          {{ site.Params.footer_content }}
        </p>
        {{ if site.Params.footer_contact_btn.enable }}
          <a
            class="mb-8 lg:mb-16 inline-block uppercase border-b-2 border-border dark:border-darkmode-border text-sm hover:text-primary hover:dark:text-darkmode-primary transition duration-300"
            href="{{ site.Params.footer_contact_btn.link | relLangURL }}"
            >{{ site.Params.footer_contact_btn.label }}</a
          >
        {{ end }}


        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      {{/* Company links */}}
      <div class="xl:col-8 xl:pl-16 flex flex-col justify-center">
        <div class="row justify-between footer-links">
          {{/* col-1 */}}
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>{{ T "quick_links" }}</h2>

            <ul>
              {{ range site.Menus.footer_menu_quick_links }}
                <li>
                  <a
                    {{ if findRE `^http` .URL }}
                      target="_blank" rel="noopener"
                    {{ end }}
                    href="{{ if findRE `^#` .URL }}
                      {{ if not $.IsHome }}
                        {{ site.Home.RelPermalink }}
                      {{ end }}{{ .URL }}
                    {{ else }}
                      {{ .URL | relLangURL }}
                    {{ end }}"
                    >{{ .Name }}</a
                  >
                </li>
              {{ end }}
            </ul>
          </div>
          
          {{/* col-3 */}}
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>{{ T "get_started" }}</h2>

            <ul>
              {{ range site.Menus.footer_menu_get_started }}
                <li>
                  <a
                    {{ if findRE `^http` .URL }}
                      target="_blank" rel="noopener"
                    {{ end }}
                    href="{{ if findRE `^#` .URL }}
                      {{ if not $.IsHome }}
                        {{ site.Home.RelPermalink }}
                      {{ end }}{{ .URL }}
                    {{ else }}
                      {{ .URL | relLangURL }}
                    {{ end }}"
                    >{{ .Name }}</a
                  >
                </li>
              {{ end }}
            </ul>
          </div>

          {{/* col-2 */}}
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>{{ T "contact_info" }}</h2>
            <ul>
              <li class="my-3 inline-block font-normal lg:pr-24">
                {{ site.Params.contact_info.address |  markdownify }}
              </li>
              <li>
                <a href="tel:{{ site.Params.contact_info.phone }}"
                  >{{ site.Params.contact_info.phone }}</a
                >
              </li>
              <li>
                <a href="mailto:{{ site.Params.contact_info.mail }}">
                  {{ site.Params.contact_info.mail }}</a
                >
              </li>
            </ul>
          </div>

        </div>
        {{/* footer action button */}}
        {{ if site.Params.footer_action_btn.enable }}
          <div class="mt-16">
            <a
              class="btn btn-lg btn-outline-primary rounded-full flex items-center justify-center gap-x-2 group"
              href="{{ site.Params.footer_action_btn.link }}"
              ><span>{{ site.Params.footer_action_btn.label }}</span>
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_1210)">
                  <path
                    d="M7 21L21 7"
                    class="stroke-dark dark:stroke-darkmode-dark group-hover:stroke-white transition-all duration-300"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M9.625 7H21V18.375"
                    class="stroke-dark dark:stroke-darkmode-dark group-hover:stroke-white transition-all duration-300"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_1_1210">
                    <rect width="28" height="28" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        {{ end }}

      </div>
    </div>
  </div>

  <!-- bottom footer -->
  <!-- Copyright  -->
  <div
    class="container border-t border-t-border dark:border-darkmode-border pt-16 pb-12 uppercase">
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-y-3">
      <p class="text-center sm:text-left text-sm sm:text-base">
        {{ site.Params.copyright | markdownify }}
        {{ if site.Params.theme_copyright }}
          By
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="{{ site.Params.theme_owner_website | safeURL }}"
            class="hover:text-primary hover:dark:text-darkmode-primary transition duration-300"
            >{{ site.Params.theme_owner }}</a
          >
        {{ end }}
      </p>

      <div class="flex gap-2">
        {{ range site.Menus.footer }}
          <a
            href="{{ .URL | relLangURL }}"
            class="text-center sm:text-right hover:text-primary hover:dark:text-darkmode-primary transition duration-300 text-sm sm:text-base"
            >{{ .Name }}</a
          >
        {{ end }}

      </div>
    </div>
  </div>
</footer>
