{{ define "main" }}

  <section class="section-sm pb-0">
    <div class="container">
      <!-- speaker details -->
      <div class="row">
        <div>
          {{ $currentMember := .Title }}
          <h2 class="text-h1-sm leading-tight mb-2">
            {{ $currentMember }}
          </h2>
          <p class="font-light text-h5">{{ .Params.position }}</p>
        </div>
        <div class="my-20!">
          <div class="row">
            <div
              class="lg:col-5 lg:border-r lg:border-r-border dark:border-darkmode-border 2xl:pr-10 mb-10 lg:mb-0">
              {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "w-full xl:h-full! object-cover") }}
              
            </div>
            <div class="lg:col-7 2xl:pl-10">
              <div class="xl:w-9/12 prose-p:text-darkmode-text-light prose-p:dark:text-text-light prose-headings:mb-4">
                {{ .Content | safeHTML }}
              </div>
              <div
                class="mt-8 text-darkmode-text-light dark:text-white text-lg 2xl:w-9/12 font-light border-b border-border dark:border-darkmode-border">
                <span class="inline-block"
                  ><svg
                    width="36"
                    height="26"
                    viewBox="0 0 36 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-1.99429e-05 15.678C-2.02429e-05 12.246 1.09198 9.04805 3.27598 6.08404C5.45998 3.19804 8.18998 1.17004 11.466 4.40483e-05L12.753 2.57404C8.15098 5.46004 5.73298 9.00905 5.49898 13.221C6.82498 12.207 8.15098 11.7 9.47698 11.7C11.271 11.7 12.714 12.324 13.806 13.572C14.898 14.82 15.444 16.38 15.444 18.252C15.444 20.28 14.781 21.996 13.455 23.4C12.051 24.882 10.335 25.623 8.30698 25.623C5.73298 25.623 3.70498 24.609 2.22298 22.581C0.740982 20.631 -1.97111e-05 18.33 -1.99429e-05 15.678ZM19.89 15.678C19.89 12.246 20.982 9.04805 23.166 6.08404C25.35 3.19804 28.08 1.17004 31.356 4.23094e-05L32.643 2.57404C28.041 5.46004 25.623 9.04804 25.389 13.338C26.637 12.246 27.963 11.7 29.367 11.7C31.161 11.7 32.604 12.324 33.696 13.572C34.788 14.898 35.334 16.458 35.334 18.252C35.334 20.28 34.671 21.996 33.345 23.4C31.941 24.882 30.225 25.623 28.197 25.623C25.623 25.623 23.595 24.609 22.113 22.581C20.631 20.631 19.89 18.33 19.89 15.678Z"
                      fill="#DDDDDD" />
                  </svg>
                </span>
                <p class="py-4">
                  {{ .Params.quote }}
                </p>
              </div>
              <div class="py-6 flex justify-between items-center 2xl:w-9/12">
                <p class="font-light">{{ T "follow_socials" }} :</p>
                <ul class="social-icons">
                  {{ range .Params.social }}
                    <li>
                      <a href="{{ .link | safeURL}}" target="_blank">
                        <i class="{{ .icon }}"></i>
                      </a>
                    </li>
                  {{ end }}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  {{/* Start more member section */}}
  {{ with site.GetPage "sections/more-member" }}
    {{ if .Params.enable }}
      <section class="section">
        <div class="container">
          <div
            class="row py-14 border-t border-t-border dark:border-darkmode-border">
            <!-- Title -->
            <div
              class="xl:col-4 xl:pr-10 text-center xl:text-left mb-10 xl:mb-0 flex flex-col justify-center xl:justify-stretch items-center xl:items-stretch">
              <div class="xl:sticky xl:top-32 2xl:pr-10">
                <h2 class="text-h3 md:text-h1-sm mb-5 leading-tight">
                  {{ .Title }}
                </h2>
                <p
                  class="text-lg font-light text-darkmode-text-light dark:text-text-light mb-10">
                  {{ .Params.description }}
                </p>
                {{ if .Params.button.enable }}
                <div class="mt-4 px-0 flex justify-center xl:justify-stretch">
                  <a href="{{ .Params.button.link }}" class="flex items-center btn btn-icon">
                    <span>{{ .Params.button.label }}</span>
                  <i class="fa fa-arrow-right text-xs"></i>
                </a>
                </div>
                {{ end }}
              </div>
            </div>

            <!-- Speaker Cards -->
            <div class="xl:col-8">
              <div
                class="row xl:border-l xl:border-l-border dark:border-darkmode-border px-5">
                <!-- Current speaker's title -->

                {{ $currentMembers := $.Title }}
                
                {{ $allMembers := where site.RegularPages "Type" "members" }}
                {{ $otherMembers := where $allMembers "Title" "!=" $currentMembers }}
                {{ range $index, $member := first 4 $otherMembers }}
                  <div class="mb-10 md:mb-0 md:col-6{{ if lt $index 2 }} md:border-b md:border-border dark:border-darkmode-border pb-10 !mb-10{{ end }}">
                    <div class="{{ if or (eq $index 0) (eq $index 2) }}md:border-r md:border-r-border dark:border-darkmode-border md:pr-8{{ end }}">
                      {{ partial "components/member-card.html" $member }}
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  {{/* End more speaker section */}}
{{ end }}
