{{ $list := .List }}


<div
  class="row py-16 border-b border-border dark:border-darkmode-border mb-6 flex-col-reverse xl:flex-row">
  <div
    class="xl:col-8 xl:border-r xl:border-r-border dark:border-darkmode-border pb-10 xl:pr-16">
    {{/* All events */}}
    <div class="px-2">
      {{ $lastIndex := sub (len $list) 1 }}
      {{ range $index, $event := $list }}
        <div
          class="row {{ if ne $index $lastIndex }}
            border-b border-border dark:border-darkmode-border mb-6
          {{ end }} px-3 md:px-0">
          <div class="pl-0 md:pl-2 md:col-3 mb-5 md:mb-0">
            <h3 class="text-2xl uppercase font-normal">
              <a
                href="{{ .Permalink }}"
                class="hover:text-primary hover:dark:text-darkmode-primary transition duration-300"
                >{{ .Params.title | markdownify }}</a
              >
            </h3>
          </div>
          <div class="md:col-9">
            {{ $eventList := .Params.event_list }}
            {{ range $index, $event := $eventList }}
              <div
                class="row {{ if eq $index 0 }}
                  pt-0
                {{ end }} py-5 {{ if ne $index (sub (len $eventList) 1) }}
                  border-b border-border dark:border-darkmode-border
                  border-opacity-10
                {{ end }}">
                <div class="col-5 pl-0">
                  <p class="text-sm uppercase">{{ $event.time }}</p>
                </div>
                <div class="col-7 pl-0">
                  <p class="text-darkmode-text-light dark:text-text-light font-light">
                    {{ $event.short_details | safeHTML }}
                  </p>
                </div>
              </div>
            {{ end }}

          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="xl:col-4 xl:pl-10 mb-10 xl:mb-0">
    {{ partial "image" (dict "Src" .Image "Alt" "event image" "Class" "w-full xl:sticky xl:top-32") }}

  </div>
</div>
