<div class="member-card">
  
  {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "w-full object-cover member-image")  }}
  
  
  <div class="member-card-content">
    <a href="{{ .RelPermalink }}" class="hover:text-primary hover:dark:text-darkmode-primary transition duration-300">{{ .Title }}</a>

    <div class="other">
      <p>{{ .Params.position }}</p>
      <ul class="social-icons -mt-4">
        {{ range .Params.social }}
        <li>
          <a href="{{ .link | safeURL}}" aria-label="{{ .name }}" target="_blank">
            <i class="{{ .icon }}"></i>
          </a>
        </li>
        {{ end }}
       
        
      </ul>
    </div>
  </div>
</div>
