{{ define "main" }}
  <!-- Start sponsors section -->
  <section class="section">
    <div class="container">
      {{ partial "page-header" . }}


      <!-- top logo -->
      <div class="row">
        <div class="mb-6 mt-8">
          <h3 class="uppercase font-normal text-h4">{{ T "top_sponsors" }}</h3>
        </div>
        <div class="border-b border-border dark:border-darkmode-border">
          <div class="row pb-20 gy-4">
            <!-- sponsors -->
            {{ range (first 4 .Params.sponsors) }}
              <div class="md:col-6 xl:col-3">
                <a href="{{ .website }}" class="sponsor-logo h-full">
                  {{ with .logo }}
                    {{ partial "image" (dict "Src" . "Alt" "sponsors-logo" "Class" "block dark:hidden") }}
                  {{ end }}
                  {{ with .logo_darkmode }}
                    {{ partial "image" (dict "Src" . "Alt" "sponsors-logo" "Class" "hidden dark:block") }}
                  {{ end }}
                  <div>
                    <h4>{{ .company }}</h4>
                    <p>{{ .content }}</p>
                  </div>
                </a>
              </div>
            {{ end }}

          </div>
        </div>
      </div>
      <!-- other logo -->
      <div class="row my-20">
        <div class="mb-6">
          <h3 class="uppercase text-h4">{{ T "other_sponsors" }}</h3>
        </div>
        <div class="border-b border-border dark:border-darkmode-border">
          <div class="row pb-20 gap-y-6">
            {{/* other sponsors */}}
            {{ range $index, $logo := .Params.sponsors }}

              {{ if gt $index 3 }}
                <div class="md:col-6 xl:col-3">
                  <a href="{{ .website }}" class="sponsor-logo h-full">
                    {{ with .logo }}
                      {{ partial "image" (dict "Src" . "Alt" "sponsors-logo" "Class" "block dark:hidden") }}
                    {{ end }}
                    {{ with .logo_darkmode }}
                      {{ partial "image" (dict "Src" . "Alt" "sponsors-logo" "Class" "hidden dark:block") }}
                    {{ end }}
                    <div>
                      <h4>{{ .company }}</h4>
                      <p>{{ .content }}</p>
                    </div>
                  </a>
                </div>
              {{ end }}
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end sponsors section -->
  {{ partial "call-to-action.html" }}
{{ end }}
